footer {
    
    padding: 4em;
    background-color: rgb(225, 225, 225);
    
    div {
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 83%;
        margin: 0 auto;
    }
}