$corporateColor: #fcc630;
$base: 8px;

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: rgb(238, 238, 238);
    z-index: 3;
    top: 0;
    margin-top: -1em;
    

    .holder {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: $base * 4;

        .header_left {
            display: flex;
            align-items: center;
            margin-top: 3em;

            .header_brand {
                margin-right: 3em;
            }
        }

        .header_right {
            margin-top: 3em;
            .header_navi {
                display: flex;
                justify-content: space-between;

                .header_navigation_items {
                    display: flex;
                    margin: 0;
                    padding: 0;

                    .header_navigation_item {
                        list-style-type: none;

                        a {
                            font-size: .8em;
                            background-color: rgb(224, 224, 224);
                            color:rgb(70, 68, 78);
                            padding: .5em 1em;
                            border-radius: 1em;
                        }

                        a:hover {
                            background-color: $corporateColor;
                            color: rgb(58, 58, 58);
                            transition: .2s 10ms ease-in-out;
                        }

                        .menuitem {
                            margin-left: 3em;
                        }
                    }
                }
            }
        }
    }       
}