$corporateColor: #fcc630;
$arte: #db3155;
$musica: #26ae8d;
$base: 8px;

* {
    color:rgb(70, 68, 78);
} 

p {
    hyphens: auto;
}

main {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    hr {
        color: white ;
    }

    .holder {
        .todo {
            .fondotitulos {
                background-color: $corporateColor;
                width: 35%;
                height: 4em;
                margin-left: -14em;
                border-radius: 2em;
                margin-top: 1em;
            }

            .titulos {
                margin-top: -1.35em;
                font-size: 2em;
                color: rgb(70, 68, 78);
                margin-bottom: 2em;
            }
        }

        hr {
            border: none;
            margin-bottom: 7em;
        }

        .descripcion {
            margin-top: 3em;
    
            .descripcion_item {
                display: flex;
    
                .img {
                    img {
                        width: 100%;
                        height: 95%;
                        object-fit: cover;
                        border-radius: .5rem;
                    }
                }
    
                .descripcion_text {
                    text-align: justify;
                    width: 120%;
                    margin-left: 3rem;
    
                    div {
                        margin-bottom: 2rem;
    
                        h3 {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

        .valores {
            .valores_item {
                display: flex;
                text-align: justify;
                margin-top: 2em;
                padding-top: 4rem;
    
                .texto {
                    width: 50%;
                    margin-right: 4rem;
                }
    
                img {
                    margin-top: -2rem;
                    margin-left: 3rem;
                }
            }
        }

        .sistema {
            
            .forma {
                text-align: justify;
                .forma_item {
                    
                    .forma_uno {
                        display: flex;

                        .forma_gif {
                            margin: 0 3rem 3rem 0;
                            border: solid 1px grey;
                        }

                        div {
                            margin-top: 7rem;
                        }
                    }
                    
                    .forma_dos {
                        display: flex;

                        .forma_tres {
                            text-align: justify;
                            margin-right: 3rem;
                            width: 190%;
    
                            .cuadrado {
                                background-color: $arte;
                                color: white;
                                padding: .2rem .5rem;
                            }
    
                            .triangulo {
                                background-color: $musica;
                                color: white;
                                padding: .2rem .5rem;
                            }
    
                            .circulo {
                                background-color: $corporateColor;
                                color: white;
                                padding: .2rem .5rem;
                            }
                        }

                        div {

                            .patron {
                                background-color: rgb(65, 65, 65);
                                color: white;
                                padding: .2rem .5rem;
                            }
                        }
                    }
                    
                }
            }
        
            .retipo {
                display: flex;
            }
            
            .reticula {
                margin: 6em 0;
        
                .reticula_item {
                    display: flex;
                    align-items: center;
        
                    .reticulaimg {
                        border: solid 1px grey;
                        margin-right: 3em;
                    }
        
                    .reticulatexto {
                        p {
                            width: 80%;
                            margin-left: 6.5em;
                            text-align: justify;
                        }
                    }
                }         
            }

            .tipo {
                margin-bottom: 5rem;
                .tipo_item {
                    display: flex;
                    align-items: center;
                   

                    img {
                        margin-right: 1rem;
                    }

                    div {
                        align-items: center;

                

                        p {
                            width: 100%;
                            text-align: justify;
                            
                        }
                    }

                    .gotham {

                        margin-right: -2em;
                        margin-left: 2em;
                  
                      
                        
                           
                    }
                }
            }

            .color {
            
               
                .color_item {
                    display: flex;
                   

                    img {
                        width: 20%;
                        margin-right: 3em;
                     }

                     .color1 {

                        text-align: justify;
                       margin-right: 3em;
                       width: 140%;
                       
                       .circulo {
                        background-color: $corporateColor;
                        color: white;
                        padding: .2rem .5rem;
                       }

                     }

                     .color2 {

                        text-align: justify;
                       margin-right: 3em;
                       width: 100%;

                     }

                     
                }

                .colorsito {
                   width: 40%;
                    margin-top: -3em;
                    margin-left: 19em;

                    img {
                        width: 95%;
                   
                    }

                }

                .paleta {
                    margin-left:53em;
                    margin-top: -11em;

                    img {
                        width: 95%;
                   
                    }
                }

               

            }

           
            
        }

        .resultados {
                

            .resultados_item {


                .intro {
                    width: 66%;
                    text-align: justify;
                    hyphens: auto;
                    margin-bottom: 2em;
                }
               

                .carteles {
                   
                    


                    .arte {
                        display: flex;
                        margin-bottom: 3em;

                        p {
                        
                            text-align: justify;

                            .cont {
                                background-color: #cb6178;
                                color: white;
                                padding: .2rem .5rem;
                            }

                            
                            .clasico {
                                background-color: #601735;
                                color: white;
                                padding: .2rem .5rem;
                            }

                            
                            
                        }

                        img {
                            margin-right: 2em;

                        }
                        

                    }

                    .musica {
                        display: flex;
                        margin-bottom: 3em;

                        p {
                        
                            text-align: right;
                            text-align: justify;
                            width: 80%;

                            .voz {
                                background-color: #1f493d;
                                color: white;
                                padding: .2rem .5rem;
                            }

                            .no_voz {
                                background-color: #54bba0;
                                color: white;
                                padding: .2rem .5rem;
                            }
                            
                        }

                        img {
                            margin-left: 2em;

                        }
                        

                    }

                } 
                 
                .redes {

                    margin-top: 8em;

                    .redes_texto {
                        display: flex;

                        p {
                            margin-right: 3em;
                            text-align: justify;
                        }

                        .videos {
                           margin-top: -3em;
                        }
                    }
                



                }

                .post {
                    margin-top: 9em;

                    h2 {
                        margin-left: 25.3em;
                    }

                    .post_texto {
                        display: flex;
                        align-items: center;

                        p {
                            margin-left: 3em;
                            text-align: justify;
                        }

                      
                    }

                }

                .pastillas {
                    margin-top: 9em;
                    

                    h2 {
                        margin-bottom: -3.5em;
                    }

                    .pastillas_texto {
                        display: flex;
                        align-items: center;
                      
                       

                        p {
                            margin-right: 3em;
                            text-align: justify;
                        }

                        .videos {
                         
                           
                        }
                    }

                }

                .largo {
                    margin-top: 6em;

                    h2 {
                        margin-left: 25.3em;
                    }

                    .largo_texto {
                        display: flex;
                        align-items: center;

                        p {
                            margin-left: 3em;
                            text-align: justify;
                        }

                        .video {

                        }

                      
                    }

                }

                .final {
                    margin-top: 10em;
                    margin-bottom: 9em;

                    h2 {
                        margin-bottom: -3.5em;
                    }

                    .final_texto {
                        display: flex;
                        align-items: center;

                        p {
                            margin-right: 3em;
                            text-align: justify;
                        }
                    }

                }
            }
        }

    }

    
}
